<h1>
  Actors #<%= @actor.id%> details
</h1>

<a href="/actor" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;


<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @actor.image %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@actor.updated_at) %> ago
  </dd>
</dl>


<h2>Filmography</h2>

<table border="1">
<% @characters.each do |a_character| %>
  <% movie = Movie.where({ :id => a_character.movie_id }).at(0) %>
  <% director = Director.where({ :id => movie.director_id }).at(0) %>
  <tr>
    <td>
      <%= movie.title %>
    </td>
    <td>
      <%= movie.year %>
    </td>
    <td>
      <%= director.name %>
    </td>
    <td>
      <%= a_character.name %>
    </td>
    <td>
      <a href="/movies/<%= movie.id %>">Show details</a>
    </td>
  </tr>
<% end %>
</table>
